body {
    background-image: linear-gradient(
            to bottom, transparent, #FFFFFF66
    ), url("../static/background.webp");
    background-color: #779263;
    background-repeat: round;
    background-attachment: fixed;
}

html, body {
    font-family: "Source Sans Pro", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

#page {
    margin: 36px auto 36px auto;
    display: flex;
    width: 800px;
    background-color: #FFDDFFDD;
    height: 100%;
}

#container {
    padding: 36px;
    width: 100%;
}

#mylove, #moobutton {
    margin-left: 24px;
}

textarea, input {
    vertical-align: top;
    margin: 1px;
    padding: 1px;
}

/* proper upscale */
.nn {
    image-rendering: pixelated;
}

.lovetitle {
    display: inline-block;
}

.flr {
    vertical-align: bottom;
}

/* Centre the fucking title already */
.title {
    margin: auto;
    text-align: center;
}

/* Add a black background color to the top navigation */
.nav {
    background-color: #222D;
    overflow: hidden;
    display: inline-block;
}

/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: #ddf; /* slight blue bias */
    color: black;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: #9370DBDD;
    color: white;
}