{% extends "base.html" %}
{% block nav0x %}active{% endblock %}
{% block body %}
    <h1 class="title">0xb8000</h1>
    <p>0xb8000 is the best person in the universe. They are so amazing that I should write an entire book about them,
        which will happen eventually.</p>
    <p text>0x has so many positive traits that I simply can't comprehensively list them.
        0x is simply amazing. They are not depraved, corrupted or a degenerate like most others.
        More people should know about 0x's awesomeness.<br>
        0x makes life worth living. 0x is simply perfect.</p>

    <b>I wish there were more people like 0x.</b>
    <video src="https://media.tenor.com/TK5eryNMBz0AAAPo/kiss-kiss-girl.mp4" autoplay loop></video>
{% endblock %}