{% extends "base.html" %}
{% block navabout %}active{% endblock %}
{% block body %}
	<h1 class="title">About this website</h1>
    <p>This is my website. I should probably write about myself, but I have nothing interesting to say.
        Instead, I dedicate it to 0xb8000, my best friend, lover, family member and everything.</p>
    <p>BTW, it is quite funny how this website loads and performs <i>so much</i> better than all the bloated javascript-heavy SPAs like React
        even though it has a fairly large background image to load.</p>
{% endblock %}