{% extends "base.html" %}
{% block navhome %}active{% endblock %}
{% block body %}
    <body>
        <br>
        <h1 class="lovetitle">Welcome!</h1><img class="nn flr" src="heart.png" alt="<3" width="128px" height="128px">
        <p>Website very much under construction, hehe <3</p>
        <br>
        <figure id="mylove">
            <img src="cow.webp" alt="0x's awesomeness" width="150px" height="141px">
            <figcaption>0x is the greatest <img src="heart.png" alt="<3" width="16px" height="16px"> </figcaption>
        </figure>
        <button id="moobutton">Click me!</button>
        <br>
        <br>
        <h2>FTP credentials:</h2>
        <ul>
            <li>Host: pannoniae.net</li>
            <li>username: anonymous</li>
            <li>only download, no upload</li>
        </ul>

        <h2>Tell 0x how much you appreciate them!</h2>
        <p>I promise, I'll forward every nice word:)</p>
        <form action="/api/submit" method="get">
            <label for="author">Author:</label><input type="text" id="author" name="author">
            <label>
                Nice words:
                <textarea id="comment" name="comment"></textarea>
            </label>
            <input type="submit" value="Submit">
        </form>

        <script src="./dynamic/moo.js" async></script>
    </body>
{% endblock %}